.page-wrapper, .mini-sidebar .page-wrapper {
	margin-left: 0;
}

#pre-load-gart, #process-gart {
	margin: 0 auto;
}

.lab-gart {
	margin-bottom: .5rem;
}

.op-g {
	opacity: 0.8;
}

#startpos-error, #strategy-error, #gart-menu, .jsPanel-btn-close, .jsPanel-btn-maximize, .panbut {
	display: none;
}

.jsPanel-headerlogo > img {
	max-height: 30px;
}

#container-gart-preload, #container-gart-process {
	margin-bottom: 25px;
}

.ico-gart {
	font-size: 10px;
}

.sv-panel {
	position: initial !important;
}

.ul-alli {
	padding-right: 0;
}

.icheck-list > li {
	display: inline-block;
}

@media (min-width: 768px) {
	.navbar-header {
		width: 260px;
	}
}